<div class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="cta-inner text-center rounded">
          <div class="form">
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="mr-2"
                >Select Manufacturers</label
              >

              <div class="btn-group" dropdown>
                <button
                  id="button-basic"
                  dropdownToggle
                  type="button"
                  class="btn btn-light dropdown-toggle"
                  aria-controls="dropdown-basic"
                >
                  Click here <span class="caret"></span>
                </button>
                <ul
                  id="dropdown-basic"
                  *dropdownMenu
                  class="dropdown-menu"
                  role="menu"
                  aria-labelledby="button-basic"
                >
                  <li role="menuitem" *ngFor="let manufacture of manufacturers">
                    <a
                      class="dropdown-item"
                      (click)="getManufacture(manufacture.id)"
                      >{{ manufacture.name }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <main class="row" *ngIf="showVideos">
          <div
            *ngFor="let video of videosList"
            class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
          >
          <h2 class="row justify-content-md-center" style="color:white">
            Barcode: {{ video.barcode }}
          </h2>
            <video
              controls
              name="media"
              class="video"
              src="{{video.videoLink}}"
            ></video>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<ngx-loading
  [show]="loading"
  [config]="{
    backdropBorderRadius: '10px'
  }"
></ngx-loading>
