.main-row {
  display: flex;
  justify-content: center;
  position: relative;
}
.site-heading-upper {
  display: inline-block;
}
.site-heading-lower {
  display: block;
}

@media all and (max-width: 500px) {
  .navbar-brand {
    visibility: hidden;
  }
  .ul.navbar-nav.mr-auto {
    margin: auto;
  }
}
