.form {
  position: relative;
}
.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
  margin: 0 38%;
}
.form-control {
  width: 70% !important;
  display: inline-block !important;
  text-align: left;
  outline: 0 none;
}
