<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-upper mb-3">Diamond Services USA</span>
  <img src="/assets/flawless-diamond2.png" />
  <span class="site-heading-lower">Video Management System</span>
</h1>

<nav class="navbar navbar-expand-sm navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item px-lg-4">
        <a
          class="nav-link text-uppercase text-expanded"
          [routerLink]="['/home']"
          >Home</a
        >
      </li>
      <li class="nav-item px-lg-4">
        <a
          class="nav-link text-uppercase text-expanded"
          [routerLink]="['/lists']"
          >Manufacturers</a
        >
      </li>
      <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase text-expanded" [routerLink]="['/add']"
          >Add Video</a
        >
      </li>
      <!-- <li class="nav-item px-lg-4">
        <a
          class="nav-link text-uppercase text-expanded"
          [routerLink]="['/customers']"
          >Customers List</a
        >
      </li> -->
    </ul>
  </div>
</nav>
