/* You can add global styles to this file, and also import other style files */
@import "../node_modules//bootstrap//dist//css/bootstrap.min.css";
@import "../node_modules//ngx-toastr/toastr.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
// @import "../node_modules//bootstrap/scss/functions";
// @import "../node_modules//bootstrap/scss/variables";
// @import "../node_modules//bootstrap/scss/mixins";
// @import "../node_modules//ngx-toastr/toastr-bs4-alert";

// @import "../node_modules//ngx-toastr/toastr-bs4-alert.scss";
.dropdown-item {
  cursor: pointer;
}
.video {
  width: 680px;
  max-width: 100%;
  height: 450px;
}
@media all and (max-width: 500px) {
  .container {
    padding: 1em;
  }
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
* {
  font-family: "Open Sans", sans-serif;
}
