<div class="form-inline">
  <div class="form-group form-group mb-2 ml-0 mr-3">
    <label for="inputPassword2" class="mr-2">Enter barcode here:</label>
    <input
      type="text"
      class="form-control"
      id="barcode"
      [(ngModel)]="videoid"
    />
  </div>
  <button type="submit" class="btn btn-primary mb-2" (click)="btnClicked()">
    Click
  </button>
</div>

<div *ngIf="video">
  <p>Info: {{ video.additionalInfo }}</p>
  <video controls name="media" src="{{video.video}}"></video>
</div>
